<script
      src="/js/createRoom.js"
      type="module"></script>

<form class="auth-form">
  <div class="form-floating">
    <input class="form-control"
           id="roomNumber"
           name="roomNumber"
           placeholder="Номер комнаты"
           required
           type="text">
    <label for="roomNumber">Номер комнаты</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="password"
           name="password"
           placeholder="Пароль для входа"
           type="password">
    <label for="password">Пароль для входа</label>
    <button class="btn btn-info btn-tooltip"
            data-bs-placement="top"
            data-bs-toggle="tooltip"
            title="Если оставить поле пустым, то в комнату сможет зайти любой желающий"
            type="button">
      ?
    </button>
  </div>
  <div class="form-controls">
    <button class="btn btn-warning"
            type="reset">Очистить
    </button>
    <button class="btn btn-primary"
            type="submit"> Создать
    </button>
  </div>
</form>
