<script
      src="/js/index.js"
      type="module"></script>
<div class="game-container"
     data-id="{{userId}}">
</div>
<div class="arrow-down"></div>
<div class="score-table">
  <div class="score-wrap">
    <div class="player"></div>
    <div class="score">0</div>
  </div>
  <div class="score-wrap">
    <div class="player"></div>
    <div class="score">0</div>
  </div>
</div>
