<script src="/js/joinRoom.js"
        type="module"></script>
<form class="auth-form">
  <div class="form-floating">
    <input class="form-control"
           id="roomNumber"
           name="roomNumber"
           placeholder="Номер комнаты"
           required
           type="text">
    <label for="roomNumber">Номер комнаты</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="name"
           name="name"
           placeholder="Ваше имя"
           required
           type="tex">
    <label for="name">Ваше имя</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="password"
           name="password"
           placeholder="Пароль"
           type="password">
    <label for="password">Пароль</label>
  </div>
  <div class="form-controls">
    <button class="btn btn-warning"
            type="reset">Очистить
    </button>
    <button class="btn btn-primary"
            type="submit">Войти
    </button>
  </div>
</form>
