<script src="/js/room-chat.js"
        type="module"></script>

<h2>Hello friend</h2>
<div class="flex">
  <div class="users"
       data-id="{{userId}}">
    {{#each room.Users}}
    <div class="user"
         data-id="{{this.id}}">
      <span>{{this.name}}</span>
      <div class="form-check">
        <input class="form-check-input start"
               id="checkbox-state"
               type="checkbox"
               value="">
        <label class="form-check-label"
               for="checkbox-state">
          Готов
        </label>
      </div>
    </div>

    {{/each}}
  </div>
  <div class="form-wrap">
    <div class="form-floating">
      <input class="form-control"
             id="theme-value"
             placeholder="Введите тематику фотографий"
             type="text">
      <label for="theme-value">Введите тематику фотографий</label>
    </div>
    <select aria-label="Default select example"
            class="form-select fit-content language">
      <option selected
              value="default">Выберите язык поиска
      </option>
      <option value="ru">Русский</option>
      <option value="en">Английский</option>
    </select>
  </div>
</div>

<span></span>
