<script defer
        src="/js/auth/signUp.js"></script>
<form class="auth-form">
  <div class="form-floating">
    <input class="form-control"
           id="email"
           name="email"
           placeholder="Email"
           required
           type="email">
    <label for="email">Email</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="name"
           name="name"
           placeholder="Имя"
           required
           type="text">
    <label for="name">Имя</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="password"
           name="password"
           placeholder="Password"
           required
           type="password">
    <label for="password">Пароль</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="repeatPassword"
           name="repeatPassword"
           placeholder="Password"
           required
           type="password">
    <label for="repeatPassword">Повторите пароль</label>
  </div>
  <div class="form-controls">
    <button class="btn btn-warning"
            type="reset">Очистить
    </button>
    <button class="btn btn-primary"
            type="submit">Зарегистрироваться
    </button>
  </div>
</form>
