@import "normalise.css";

html {
  height: 100%;
  width: 100%;
}

body {
  font: max(12px, 2vmin) "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c0bbd1;
  padding: 20px 40px;
  max-height: 10vh;

  .logo {
    font-size: 4vmin;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;

    .nav-list__item {
      list-style: none;

      a {
        display: block;
        text-decoration: none;
        padding: 10px 20px;
        color: white;
        border-radius: 20px;
        background: #5900ff;
      }
    }
  }
}

.table-rooms {
  box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.4);


  td, th {
    border: 1px solid #00000052;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
  }

  th {
    background: rgba(73, 73, 73, 0.4);
    color: white;
    font-weight: bold;
  }
}

.users {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background: white;
  width: fit-content;
  margin: 20px;
  border-radius: 5px;
  gap: 20px;

  .user {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      display: block;
      padding: 10px 20px;
      background: orange;
      border-radius: 20px;
    }
  }
}

.container {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .btn-create {
    margin-top: 50px;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    background: #5900ff;
  }
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12vmax, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  padding: 1vmax;
  gap: 2vmax;
  perspective: 600px;
  perspective-origin: center;
  transition: all 1s ease-in-out;
  height: 100vh;
}


.front, .back {
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
}

.front {
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9b825f, #7160b3);

}

.back {
  transform: rotateY(180deg);
}

.image-wrap > img {
  width: 100%;
  height: auto;
}

.game-card {
  visibility: hidden;
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 20px;
  cursor: pointer;
  transform-style: preserve-3d;
}

.game-card.show {
  .back {
    transform: rotateY(0deg);
  }

  .front {
    transform: rotateY(180deg);
  }
}

.game-card.guess {
  .back {
    transform: rotateY(0deg);
    opacity: 0.5;
  }

  .front {
    transform: rotateY(180deg);
  }
}

.btn-tooltip {
  right: 0;
  top: 50%;
  position: absolute;
  transform: translate(150%, -50%);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max(400px, 25%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-50%) translateY(-50%);
  padding: 50px 100px;
  background: #fbfbfb63;
  border-radius: 40px;
  box-shadow: 0 0 10px 2px #0000008a;
}

.form-controls {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.form-controls > button {
  overflow-wrap: break-word;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.moveRight {
  animation: fadeIn 0.7s ease-in-out forwards,
  moveRight 1s ease-in-out forwards;
}

.moveLeft {
  animation: fadeIn 0.7s ease-in-out forwards,
  moveLeft 1s ease-in-out forwards;
}

.moveTop {
  animation: fadeIn 0.7s ease-in-out forwards,
  moveTop 1s ease-in-out forwards;
}

.moveBottom {
  animation: fadeIn 0.7s ease-in-out forwards,
  moveBottom 1s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(200%);
  }
  70% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveBottom {
  0% {
    transform: translateY(200%);
  }
  70% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveTop {
  0% {
    transform: translateY(-200%);
  }
  70% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
